body{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: rgb(86, 121, 99);
    margin-bottom: 3000px;
    font-size: 30px;
    color: rgb(255,179,250);
}
